<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/lottery_multiplier"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ mode === 'view' ? 'Ver Multiplicador' : mode === 'edit' ? 'Editar Multiplicador' : 'Agregar Multiplicador' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoading; else content">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando...</p>
  </ng-container>

  <ng-template #content>
    <form *ngIf="mode === 'edit'" [formGroup]="multiplierForm">
      <ion-item>
        <ion-label position="stacked">Lotería</ion-label>
        <ion-select formControlName="lottery_id" interface="popover">
          <ion-select-option *ngFor="let lottery of lotteries" [value]="lottery.id">
            {{ lottery.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tipo de Apuesta</ion-label>
        <ion-select formControlName="type" interface="popover">
          <ion-select-option value="animal">Animal</ion-select-option>
          <ion-select-option value="triple">Triple</ion-select-option>
          <ion-select-option value="terminal">Terminal</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Multiplicador</ion-label>
        <ion-input type="number" formControlName="multiplier"></ion-input>
      </ion-item>
    </form>

    <ion-grid *ngIf="mode === 'view' && multiplier">
      <ion-row>
        <ion-col size="4" class="label">Lotería:</ion-col>
        <ion-col size="8">{{ getLotteryName(multiplier.lottery_id) }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="label">Tipo de Apuesta:</ion-col>
        <ion-col size="8">{{ multiplier.type }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" class="label">Multiplicador:</ion-col>
        <ion-col size="8">{{ multiplier.multiplier }}x</ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<ion-footer *ngIf="mode === 'edit'">
  <ion-toolbar>
    <ion-button expand="block" (click)="saveMultiplier()" [disabled]="multiplierForm.invalid">
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
