<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loterías - Horarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addLotterySchedule()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isLoading; else content">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando...</p>
  </ng-container>

  <ng-template #content>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let lotterySchedule of lotterySchedules | filter: searchQuery">
        <ion-label>
          {{ lotterySchedule?.lotteryName }} -
          {{ lotterySchedule?.dayOfWeek }} -
          [{{ lotterySchedule?.time | formatTime }}]
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="viewLotterySchedule(lotterySchedule.id)">
            <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="editLotterySchedule(lotterySchedule.id)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="deleteLotterySchedule(lotterySchedule.id)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
