<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Monto Máximo de Apuesta</ion-label>
    <ion-input [(ngModel)]="settings.max_bet_amount" type="number" placeholder="Ingrese el monto máximo"></ion-input>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-button expand="block" (click)="saveConfig()" [disabled]="settingsForm.invalid">Guardar</ion-button> -->
    <ion-button expand="block" (click)="saveConfig()">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>
