<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="isLoading; else content">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando...</p>
  </ng-container>

  <ng-template #content>
    <form [formGroup]="settingsForm">
      <ion-item>
        <ion-label position="stacked">Monto Máximo de Apuesta</ion-label>
        <ion-input type="number" formControlName="max_bet_amount" placeholder="Ingrese el monto máximo"></ion-input>
      </ion-item>
    </form>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="saveConfig()" [disabled]="settingsForm.invalid">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>
