<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loterías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addLottery()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let lottery of lotteries | filter: searchQuery">
      <ion-label>{{ lottery.name }} - ({{ lottery.type }})</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="viewLottery(lottery.id)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editLottery(lottery.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteLottery(lottery.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>