<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Apuestas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addBet()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let bet of bets | filter: searchQuery">
      <ion-label>
        Ticket #{{ bet.ticket_id }} -
        {{ getLotteryName(bet.lottery_id) }} -
        {{ bet.date | date:'dd-MM-yyyy'}} -
        {{ getScheduleTime(bet.schedule_id) | formatTime }} -
        {{ bet.amount | currency }} -
        {{ bet.type }} -
        {{ bet.multiplier }}x -
        [{{ bet.status | statusTranslate }}] -
        {{ bet.payout_amount | currency }} -
        {{ bet.pis_paid | paymentStatus }}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="viewBet(bet.id)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editBet(bet.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteBet(bet.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
