<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tickets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTicket()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-list *ngIf="!isLoading">
    <ion-item *ngFor="let ticket of tickets | filter: searchQuery">
      <ion-label>
        {{ clients[ticket.client_id].name }} -
        {{ ticket.total_amount | currency }} -
        [{{ ticket.status | statusTranslate }}] -
        {{ ticket.payout_amount | currency }} -
        {{ ticket.is_paid | paymentStatus }}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="viewTicket(ticket.id)">
          <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editTicket(ticket.id)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteTicket(ticket.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
