<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ mode === 'view' ? 'Ver Cliente' : mode === 'edit' ? 'Editar Cliente' : 'Agregar Cliente' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="mode === 'edit'" [formGroup]="clientForm">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Alias</ion-label>
      <ion-input formControlName="alias"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de Celular</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>
  </form>

  <ion-grid *ngIf="mode === 'view' && client">
    <ion-row>
      <ion-col size="4" class="label">Alias:</ion-col>
      <ion-col size="8">{{ client.alias }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="label">Nombre:</ion-col>
      <ion-col size="8">{{ client.name }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="label">Teléfono:</ion-col>
      <ion-col size="8">{{ client.phone }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="mode === 'edit'">
  <ion-toolbar>
    <ion-button expand="block" (click)="saveClient()" [disabled]="clientForm.invalid">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>