<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/client"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ mode === 'view' ? 'Ver Cliente' : mode === 'edit' ? 'Editar Cliente' : 'Agregar Cliente' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="mode === 'edit'" [formGroup]="clientForm">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="clientForm.get('name')?.touched && clientForm.get('name')?.invalid">
      <p *ngIf="clientForm.get('name')?.hasError('required')">El nombre es obligatorio.</p>
    </div>

    <ion-item>
      <ion-label position="stacked">Alias</ion-label>
      <ion-input formControlName="alias"></ion-input>
    </ion-item>
    <div *ngIf="clientForm.get('alias')?.touched && clientForm.get('alias')?.invalid">
      <p *ngIf="clientForm.get('alias')?.hasError('required')">El alias es obligatorio.</p>
    </div>

    <ion-item>
      <ion-label position="stacked">Número de Celular</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>
    <div *ngIf="clientForm.get('phone')?.touched && clientForm.get('phone')?.invalid">
      <p *ngIf="clientForm.get('phone')?.hasError('required')">El número de celular es obligatorio.</p>
      <p *ngIf="clientForm.get('phone')?.hasError('pattern')">Ingrese un número de celular válido.</p>
    </div>
  </form>

  <div *ngIf="mode === 'view' && client">
    <p><strong>Alias:</strong> {{ client.alias }}</p>
    <p><strong>Nombre:</strong> {{ client.name }}</p>
    <p><strong>Teléfono:</strong> {{ client.phone }}</p>
  </div>
</ion-content>

<ion-footer *ngIf="mode === 'edit'">
  <ion-toolbar>
    <ion-button expand="block" (click)="saveClient()" [disabled]="clientForm.invalid">Guardar</ion-button>
  </ion-toolbar>
</ion-footer>