<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/lottery"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ mode === 'view' ? 'Ver Lotería' : mode === 'edit' ? 'Editar Lotería' : 'Agregar Lotería' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="lotteryForm" *ngIf="mode === 'edit'">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <div *ngIf="lotteryForm.get('name')?.touched && lotteryForm.get('name')?.invalid">
      <p *ngIf="lotteryForm.get('name')?.hasError('required')">El nombre es obligatorio.</p>
      <p *ngIf="lotteryForm.get('name')?.hasError('minlength')">El nombre debe tener al menos 3 caracteres.</p>
    </div>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="type">
        <ion-select-option value="number">Números</ion-select-option>
        <ion-select-option value="animal">Animalitos</ion-select-option>
      </ion-select>
    </ion-item>
    <div *ngIf="lotteryForm.get('type')?.touched && lotteryForm.get('type')?.invalid">
      <p>El tipo es obligatorio.</p>
    </div>

    <ion-button expand="block" (click)="save()" [disabled]="lotteryForm.invalid">Guardar</ion-button>
  </form>

  <div *ngIf="mode === 'view'">
    <p>Nombre: {{ lotteryForm.get('name')?.value }}</p>
    <p>Tipo: {{ lotteryForm.get('type')?.value }}</p>
  </div>
</ion-content>
