<ion-menu side="start" menuId="main-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Golden Rat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/pos" routerDirection="root">
        <ion-icon name="storefront-outline" slot="start"></ion-icon>
        <ion-label>POS</ion-label>
      </ion-item>

      <ion-item routerLink="/ticket" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="ticket-outline" slot="start"></ion-icon>
        <ion-label>Tickets</ion-label>
      </ion-item>

      <ion-item routerLink="/bet" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="dice-outline" slot="start"></ion-icon>
        <ion-label>Apuestas</ion-label>
      </ion-item>

      <ion-item routerLink="/client" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-label>Clientes</ion-label>
      </ion-item>

      <ion-item routerLink="/lottery" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="layers-outline" slot="start"></ion-icon>
        <ion-label>Loterías</ion-label>
      </ion-item>

      <ion-item routerLink="/lottery_schedule" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label>Horarios de Lotería</ion-label>
      </ion-item>

      <ion-item routerLink="/lottery_result" routerDirection="root" (click)="closeMenu()">
        <ion-icon name="trophy-outline" slot="start"></ion-icon>
        <ion-label>Resultados Lotería</ion-label>
      </ion-item>

      <ion-item routerLink="/settings" routerDirection="forward" (click)="closeMenu()">
        <ion-icon name="settings-outline" slot="start"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>

      <ion-item button class="ion-activatable" (click)="logout()">
        <ion-icon name="exit-outline" slot="start"></ion-icon>
        <ion-label>Salir</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
